*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.icons{
    padding: 0;
    margin-top: 100px;
}
.imgs  p{
    width: 34px;
    height: 40px;
    font-weight: 600;
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
} 

.iconimg{
    width: 30px;
    height: 30px;

}
/* .text-center{
    margin-left: 700px;
    width: 800px; 
    /* display: flex; */
    justify-content: center;
    align-items: center;
}  */
.card-img-top{
    width: 200px;
    height: 300px;
}